@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

.loader {
  position: relative;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #3498db;
  border-bottom-right-radius: 27px;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
  margin-bottom: 150px;
}

.loader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#3498db 6px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(to bottom, #ffffff 10%, #3498db 10%, #3498db 90%, #ffffff 90%);
  background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
  background-position: center bottom, left 88px, right 88px, left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {

  0%,
  100% {
    width: 0px
  }

  45%,
  55% {
    width: 200px
  }
}

@keyframes pencilRot {

  0%,
  45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }

  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}




.loader2 {
  width: 100%;
  height: 10rem;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  opacity: 80%;
  border-radius: 10px;
  box-sizing: border-box;
}

.loader2::after {
  content: '';
  width: calc(100% - 30px);
  height: 100%;
  top: 5px;
  left: 15px;
  position: absolute;
  opacity: 30%;
  background-image: linear-gradient(100deg, transparent, rgba(236, 236, 236, 0.922) 50%, transparent 80%), radial-gradient(circle 28px at 28px 28px, #DDD 99%, transparent 0), linear-gradient(#DDD 24px, transparent 0), linear-gradient(#DDD 18px, transparent 0), linear-gradient(#DDD 66px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 55px 56px, 160px 30px, 260px 20px, 290px 56px;
  background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}


.bg-landing {
  background-image: url('../public/todo-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}



@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }

  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}